<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method = 'post'>
    <h1>student registraion form</h1>
    {{form.as_p}}
    {%csrf_token%}
    <input type = "submit" value = "submit">
</form>
</body>
</html>