body{
    background-image:
    url(https://images.unsplash.com/photo-1554224154-22dec7ec8818?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
    color:white;
    background-repeat:no-repeat;
    background-size: cover;
}
h1{
    color:white;
    text-decoration: aliceblue;
}