<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href= "{% static ' css/style.css' %}">

    <title>Document</title>
</head>
<body>
        <h1>Bangalore jobs Information</h1>
        {% if bang_list %}
            <table>
                <thead>
                    <th>DATE</th>
                    <th>COMPANY</th>
                    <th>TITLE</th>
                    <th>ELIGIBILITY</th>
                    <th>ADDRESS</th>
                    <th>PHONE NUMBER</th>
    
                </thead>
                {% for bang in bang_list %}
                    <tr>
                        <td>{{bang.date}}</td>
                        <td>{{bang.company}}</td>
                        <td>{{bang.title}}</td>
                        <td>{{bang.eligibility}}</td>
                        <td>{{bang.address}}</td>
                        <td>{{bang.phoneno}}</td>
    
                    </tr>
                {% endfor %}
                {%else%}
                <p>No data found</p>
            
            </table>
            {%endif%}  
    
</body>
</html>