<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href= "{% static ' css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <h1>Chennai jobs Information</h1>
    {% if chennai_list %}
        <table>
            <thead>
                <th>DATE</th>
                <th>COMPANY</th>
                <th>TITLE</th>
                <th>ELIGIBILITY</th>
                <th>ADDRESS</th>
                <th>PHONE NUMBER</th>

            </thead>
            {% for chennai in chennai_list %}
                <tr>
                    <td>{{chennai.date}}</td>
                    <td>{{chennai.company}}</td>
                    <td>{{chennai.title}}</td>
                    <td>{{chennai.eligibility}}</td>
                    <td>{{chennai.address}}</td>
                    <td>{{chennai.phoneno}}</td>

                </tr>
            {% endfor %}
            {%else%}
            <p>No data found</p>
        
        </table>
        {%endif%}  
</body>
</html>