<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <title>Document</title>
    <style>
            body{
        background-image: url("{% static 'images/news.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
        </style>
</head>
<body>    
   <h1> {{head_msg}} </h1><hr>
   <ul>
       <li>{{msg1}}</li>
       <li>{{msg2}}</li>
       <li>{{msg3}}</li>
   </ul>
</body>
</html>