<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
    >
</head>
<body>
    <div class = "container">
        <div class = "jumbotron">
        <h1>Welcome to news portal</h1>
        <a class = "btn btn-primary btn-lg" href = "/sportsinfo" role = "button">Sports Info</a>
        <a class = "btn btn-primary btn-lg" href = "/moviesinfo" role = "button">Movies Info</a>
        <a class = "btn btn-primary btn-lg" href = "/politicsinfo" role = "button">Politics Info</a>
            
    </div>
    
    </div>
    <img class = "img1" src = "{% static 'images/news2.jpeg' %}">
</body>
</html>