<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" hre= "{% static 'css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Emplyee Information</h1>
    {% if emp_list %}
        <table>
            <thead>
                <th>EMP_NO</th>
                <th>EMP_NAME</th>
                <th>EMP_SALARY</th>
                <th>EMP_ADDRESS</th>
            </thead>
            {% for emp in emp_list %}
                <tr>
                    <td>{{emp.eno}}</td>
                    <td>{{emp.ename}}</td>
                    <td>{{emp.esal}}</td>
                    <td>{{emp.eaddr}}</td>

                </tr>
            {% endfor %}
            {%else%}
            <p>No data found</p>
        
        </table>
        {%endif%}
       
  
</body>
</html>