<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" hre= "{% static 'css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <di class = "container">
            <div class="jumbotron">
        <h1 class="display-4">welcome to the Employee Data</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/empinfo" role="button">Click Here to show the Employee Data</a>
      </div></div>
</body>
</html>