<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    h1{
        color:violet;
    }
    table{
        border: 1px solid blue;
        font-size:60px;
    }
    tr:nth-of-type(even){
        background-color:gray}
    tr:nth-of-type(odd){
        background-color:green}   
    
    </style>
</head>
<body>
    <h1>Now the time is {{date_msg}}</h1>
    <h1>Welcome To Django Project !! Templates are in now Project level</h1>
    <h3>today is :{{day}}</h3>
    <table>
        <tr>
        <th>Name:</th>
        <th>Age:</th>
        </tr>
        <tr>
            <td>Priyanka</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Sonam</td>
            <td>24</td>
        </tr>
    </table>
</body>
</html>