body{
    background-image:url("https://images.unsplash.com/photo-1513704519535-f5c81aa78d0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100%;
    color:red;
    font-weight: bold;
}
table{
    border: 1px solid blue;
    margin-left:450px;

}
thead,th,tr,td{
    border: 2px solid teal;
    background-color:yellowgreen;
}
h1{
    text-align:center;
}
.container .jumbotron{
    margin-top:150px;
    background:orange;
    color:white;
    font-family:'Marriwether' ,serif;
}