<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel ="stylesheet" href= "{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
        <div class = "container" align ="center">
            <div class ="jumbotron">
            <h1>Movies</h1>
            <p>Up to Date Movie Information</p>
            <a class = "btn btn-primary btn-lg" href="/addmovie" role = "button">Add Movies</a>
            &emsp; &emsp; &emsp; &emsp;
            <a class = "btn btn-primary btn-lg" href="/movielist" role = "button"> Movies List</a>

            </div>
            </div>
</body>
</html>