<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <form method="POST" class="post-form" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }}  
                <p>helloooooooooooooooo</p>
                <button type="submit" class="save btn btn-default">Save</button>  
        </form>  
        </body>  

</html>