<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel = "stylesheet" href= "{%static 'css/fb.css'%}">
    <title>Document</title>
</head>
<body>
    <div class = "container">
            <form method = "post">
        <h1>Student Feedback Form</h1>
        {{form.as_p}}
        {% csrf_token %} 
        <input type = "submit" class = "btn btn-primary" value = "Send Your FeedBack">
    </form>
    </div>
</body>
</html>`