<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    
{% load static %}  
</head>
<body>
    <h1>Hello Django!! Templates Are Added Now</h1>
    <h3>My Name is: {{ student }}</h3>
   
    <img src="{% static 'ppp.jpg' %}" alt="My image" height="300px" width="700px"/>  

</body>
</html>