<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel ="stylesheet" href = "{% static 'css/style.css' %}">
    
    <title>Document</title>
</head>
<body>
    <div class = "container" align ="center" >
    <h1>Student Registration Form</h1>
    <form method ="post">
        {{form.as_p}}
        <input  type ="button" class = "btn btn-primary" value = "submit">
    </form>
</body>
</html>