<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Tanks for providing Information </h1>
   <ul>
       <li>Name:{{name}}</li>
       <li>Age:{{age}}</li>
       <li>GF Name:{{gfname}}</li>

   </ul>
</body>
</html>