<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel ="stylesheet" href = "{%static 'css/style.css'%}">
 <style>
 span{
     font-size:200px;
 }
 </style>
    

</head>
<body>
    <h1>Page Count is :<span> {{count}}</span></h1>
</body>
</html>